* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div{
  border : 1px solid black;
}

.header-container{
  margin-top: 30px;
  width: 100%;
  height: 50px;
  display: flex;
}

.header-login{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.header-content{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  
}

.btn-group{

}


